@import '../assets/scss/_colors.scss';

.root {
  height: 64px;
  line-height: 48px;
  overflow: hidden;
  background: $primary-color;
}

.root a {
  color: $white-color;
}

.icon {
  padding: 1.3em 1em !important;
  line-height: 0;
}

.title {
  text-align: center;
}
